 <ul>
    <li routerLinkActive="active"><a class="btn btn-info btn-xs"  routerLink='./fluid-infusions'>Fluid Infusions</a></li>
    <li routerLinkActive="active"><a routerLink='./parenteral-nutrition'>Parenteral Nutrition</a></li>
    
  </ul>
  <div>
      <a class="btn btn-info btn-xs" routerLinkActive="active" routerLink='./fluid-infusions'>Fluid Infusions</a>
      <a class="btn btn-info btn-xs" routerLinkActive="active" routerLink='./parenteral-nutrition'>Parenteral Nutrition</a>
  </div>

<router-outlet> </router-outlet>

